<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
	<div id="rating-form">
		<label>Ocena</label>
	</div>
	<%= f.input :comment, label: "Komentarz" %>
	<%= f.button :submit, 'Utwórz ocenę', :class => "btn-custom2" %>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>